- provide :title, "Edit #{t(:project).titleize}"

= render 'shared/breadcrumbs', crumbs: [["Edit #{@project.name}"]]

%h1
  Edit
  = t(:project).titleize

= render 'projects/form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path
